/* 
COLORS
#bde5e1
#faab95
#262e2d

FONT SIZES (PX)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

LINE HEIGHT
1

FONT WEIGHT
400

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #bde5e1;
  color: #262e2d;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/*******************************/
/* NAVIGATION */
/******************************/

.main-nav {
  background-color: #faab95;
  border-radius: 0 0 10px 10px;
}

.main-nav-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  margin: 2.5rem 0 2.5rem 0;
  color: #262e2d;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.skill-logo {
  width: 50px;
}

.contact-logo {
  width: 50px;
}
