/* rem and em do NOT depend on html font-size in media queries 
Instead, 1rem = 1em = 16px */

@media (max-width: 75em) {
  .container {
    padding: 0 3.2rem;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56em) {
  html {
    font-size: 50%;
  }

  .about-content {
    grid-template-columns: 3fr 4fr;
  }

  .certificates {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn--about:link,
  .btn--about:visited {
    margin-bottom: 0rem;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 43.75%;
  }

  .modal {
    width: 90%;
  }
}

@media (max-width: 40em) {
  .about-content {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .about-img {
    width: 60%;
  }

  .about-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects {
    grid-template-columns: 1fr;
    padding: 0 3.2rem;
  }

  .section-cv .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-contacts .secondary-heading {
    text-align: center;
  }

  .contacts {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .contact-info {
    justify-content: flex-start;
  }
}

@media (max-width: 34em) {
  .certificates {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    padding: 0 3.2rem;
  }
}
