/* 
COLORS
#e5f5f3
#faab95
#321b15

FONT SIZES (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 40 / 44 / 52 / 62 / 74 / 86 / 98

LINE HEIGHT
1 for primary heading
1.6 for general text

FONT WEIGHT
400

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

BORDER RADIUS (px)
10

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* background-color: #e5f5f3; */
  color: #321b15;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.primary-heading {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.secondary-heading {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 6.4rem;
}

.tertiary-heading {
  font-size: 3.2rem;
  font-weight: 700;
}

.subheading {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  color: #faab95;
  margin-bottom: 1.2rem;
}

.pb-small {
  padding-bottom: 3.2rem;
}

.pb-middle {
  padding-bottom: 6.4rem;
}

.mb-small {
  margin-bottom: 3.2rem;
}

.mb-middle {
  margin-bottom: 6.4rem;
}

.mb-big {
  margin-bottom: 9.6rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: #faab95;
  color: #321b15;
  border: 3px solid #faab95;
}

.btn:hover,
.btn:active {
  color: #faab95;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  /* Hide block */
  /* Hide it visually */
  opacity: 0;

  /* Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* Hide it from screenreaders */
  visibility: hidden;
}

.hide-scrollbar {
  overflow-y: hidden;
}

/*******************************/
/* NAVIGATION */
/******************************/
.header {
  background-color: #e5f5f3;
}

.header .container {
  padding: 0;
}

.main-nav {
  background-color: #faab95;
  border-radius: 0 0 10px 10px;
}

.main-nav-list {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  margin: 2.5rem 0 2.5rem 0;
  color: #321b15;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.arrow-top-link:link,
.arrow-top-link:visited {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #faab95;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 3px solid #faab95;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.arrow-top-link:hover,
.arrow-top-link:active {
  background-color: transparent;
}

.arrow-top-link:hover .arrow-top,
.arrow-top-link:active .arrow-top {
  color: #faab95;
}

.arrow-top {
  font-size: 6rem;
  color: #321b15;
}

/*************/
/* MOBILE */
/************/

.btn-mobile-nav {
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*******************************/
/* ABOUT SECTION */
/******************************/

.section-about {
  background-color: #e5f5f3;
  border-bottom: 10px dotted #faab95;
}

.about-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 4.8rem;
  align-items: end;
}

.about-img {
  width: 100%;
  border-radius: 10px;
}

.about-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}

.btn--about:link,
.btn--about:visited {
  margin-bottom: 4.8rem;
}

/*******************************/
/* SKILLS SECTION */
/******************************/

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  /* column-gap: 12.8rem; */
  row-gap: 6.4rem;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
}

.skill-logo {
  width: 12rem;
}

.skill-name {
  font-size: 1.8rem;
  color: #321b15;
  font-weight: 600;
}

/*******************************/
/* PROJECTS SECTION */
/******************************/

.section-projects {
  background-color: #e5f5f3;
  border-top: 10px dotted #faab95;
  border-bottom: 10px dotted #faab95;
  padding: 8rem 0 12.8rem 0;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}

.project {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1.2rem 4.8rem rgb(0, 0, 0, 0.08);
}

.project-img {
  width: 100%;
}

.project-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(50, 27, 21, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.8s;
}

.project:hover .hidden {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.project .tertiary-heading {
  color: #faab95;
}

/*******************************/
/* CERTIFICATES SECTION */
/******************************/

.section-certificates {
  padding-top: 6.4rem;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.certificate {
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.certificate:hover .hidden {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.certificate-img {
  width: 100%;
}

.certificate-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(50, 27, 21, 0.9);
  display: flex;
  align-items: center;
  transition: all 0.8s;
}

.certificate-info .btn {
  margin: 0 auto;
}

/*******************************/
/* CV SECTION */
/******************************/

.section-cv {
  padding: 8rem 0;
  background-color: #e5f5f3;
  border-top: 10px dotted #faab95;
  border-bottom: 10px dotted #faab95;
}

/*******************************/
/* CONTACTS SECTION */
/******************************/

.section-contacts {
  padding: 9.6rem 0;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.btn--contacts:link,
.btn--contacts:visited {
  width: 27rem;
  text-align: center;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.contact-text {
  font-size: 2rem;
}

.contact-logo {
  width: 30px;
}

/*******************************/
/* MODAL WINDOW */
/******************************/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: #fff;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: all 0.5s;
}

.modal-content {
  position: relative;
}

.close-modal {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  color: #321b15;
  position: absolute;
  top: -2.4rem;
  right: -1.2rem;
}

.close-modal:hover {
  color: #aaa;
  cursor: pointer;
}

.modal-img {
  width: 100%;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}

.course-name {
  margin-bottom: 1rem;
}

.modal-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
}

.course-source {
  font-weight: 600;
}
